@model List<GestorDeLimitesModel>
@{
    ViewData["Title"] = "Histórico de Transações";
}

<div class="text-center">
    <h1 class="display-4">Histórico de Transações</h1>
    <p>Apresenta histórico de transações do cliente informado.</p>
</div>

<h1 class="display-6">Preencha as informações abaixo:</h1>

<form asp-controller="TransacoesPix" asp-action="ObterTransacoesPix" method="post" class="shadow-lg p-3 mb-5">
    <div class="row g-3" style="margin-bottom: 10px">
        <div class="col">
            <label class="form-label">CPF:</label>
            <input class="form-control" name="documento" placeholder="00100100010" required />
        </div>
    </div>

    <button class="form-control btn btn-primary " type="submit">Buscar</button>
</form>

<h2>@ViewBag.Message</h2>

@if (Model != null)
{
     <table class="table table-striped table-bordered table-info">
        <thead>
            <tr>
                <th scope="col">Cpf mandante</th>
                <th scope="col">ID Transação</th>
                <th scope="col">Data</th>
                <th scope="col">Status</th>
                <th scope="col">Valor</th>
                <th scope="col">Recebedor</th>
            </tr>
        </thead>
        <tbody>
            @foreach (GestorDeLimitesModel transacao in Model)
            {
                <tr>
                    <td>@transacao.Documento</td>
                    <td>@transacao.Consulta</td>
                    <td>@transacao.Data_Transacao</td>
                    <td>@transacao.Status_Transacao</td>
                    <td>@transacao.Valor_Transacao</td>
                    <td>@transacao.Destino_Transacao</td>
                </tr>
            }
        </tbody>
    </table>
}

<div>
    <a asp-controller="Home" asp-action="Index" class="btn btn-primary">Voltar para a Home</a>
</div>